{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_atrium/frontpage/about

    About band: heading, rich text and an image side by side.

    Context variables required for this template:
    * heading, text - Formatted content
    * hasimage, imageurl, imageleft - The image and its side
    * button - {text, url} or false

    Example context (json):
    {
        "heading": "About us",
        "text": "<p>We teach.</p>",
        "hasimage": false,
        "imageurl": "",
        "imageleft": false,
        "button": {
            "text": "Learn more",
            "url": "/about"
        }
    }
}}
<section class="atrium-fp-section atrium-fp-about{{#imageleft}} atrium-fp-about-image-left{{/imageleft}}" data-region="atrium-fp-about">
    <div class="atrium-fp-container atrium-fp-about-inner">
        <div class="atrium-fp-about-text">
            {{#heading}}<h2 class="atrium-fp-heading">{{ heading }}</h2>{{/heading}}
            <div class="atrium-fp-about-body">{{{ text }}}</div>
            {{#button}}<a href="{{{ url }}}" class="btn btn-primary atrium-fp-btn">{{ text }}</a>{{/button}}
        </div>
        {{#hasimage}}
            <div class="atrium-fp-about-media">
                <img src="{{{ imageurl }}}" alt="" loading="lazy">
            </div>
        {{/hasimage}}
    </div>
</section>
